* {
  box-sizing: border-box;
}

body {
  background: cornflowerblue;
}

header {
  text-align: center;
  background-color: black;
  color: white;
}

a {
  color: rgb(83, 8, 83);
}

h1 {
  font-size: 60px;
  font-family: Helvetica, sans-serif;
  margin-bottom: 50px;
}

h2 {
  text-align: center;
  font-size: 35px;
}

hr {
  border: 1px solid black;
  max-width: 500px;
}

p {
  font-size: 17px;
}

.fun {
  max-width: 500px;
}

em {
  font-style: italic;
}

article {
  max-width: 500px;
  padding: 20px;
  margin: 0 auto;
}

ul li {
  text-align: center;
  list-style-position: inside;
  list-style-type: disc;
  
}

ol li {
    text-align: center;
    list-style-position: inside;
    list-style-type: decimal;
}

.topTen {
  background-color: blueviolet;
  padding: 0px;
  margin: 0 auto;
  width: 500px;
}

img {
  /* float: right; */
  width: 480px;
  margin-right: 0px;
  clear: both;  
}
footer {
  text-align: center;
}