* {
  box-sizing: border-box;
}

body {
  background: rgb(216, 208, 208);
}

header {
  text-align: center;
  color: white;
}
.puppyBackground {
  background-image: url("img/mydoggies.PNG");
}
a {
  color: rgb(83, 8, 83);
}

h1 {
  font-size: 60px;
  font-family: Helvetica, sans-serif;
  margin-bottom: 50px;
}

h2 {
  text-align: center;
  font-size: 35px;
}

hr {
  border: 1px solid black;
  max-width: 500px;
}

p {
  font-size: 20px;
}

.fun {
  max-width: 500px;
}

em {
  font-style: italic;
}

article {
  max-width: 500px;
  padding: 20px;
  margin: 0 auto;
  font-size: 20px;
  clear: both;
}

ul li {
  text-align: center;
  list-style-position: inside;
  list-style-type: disc;
  font-size: 20px;
}

ol li {
    text-align: center;
    list-style-position: inside;
    list-style-type: decimal;
    font-size: 20px;
}

.topTen {
  background-color: blueviolet;
  padding: 0px;
  margin: 0 auto;
  width: 500px;
}

img {
  /* float: right; */
  width: 480px;
  margin-right: 0px;
  clear: both;  
}

.reporter {
  /* float: left; */
  width: 480px;
  /* margin-right: 0px; */
  float: right;
}



footer {
  text-align: center;
}